.row {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    padding: 0 ($largeurCol / 2);
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    display: inline-block;
    vertical-align: top;
    padding: 0 ($largeurCol / 2);
    font-size: 1rem;
}

.col-0 {display: none;}
.col-1 {width: calc(100% / 12);}
.col-2 {width: calc(100% / 12  * 2);}
.col-3 {width: calc(100% / 12  * 3);}
.col-4 {width: calc(100% / 12  * 4);}
.col-5 {width: calc(100% / 12  * 5);}
.col-6 {width: calc(100% / 12  * 6);}
.col-7 {width: calc(100% / 12  * 7);}
.col-8 {width: calc(100% / 12  * 8);}
.col-9 {width: calc(100% / 12  * 9);}
.col-10 {width: calc(100% / 12  * 10);}
.col-11 {width: calc(100% / 12  * 11);}
.col-12 {width: 100%;}

.offset-1 {margin-left: calc(100% / 12);}
.offset-2 {margin-left: calc(100% / 12 * 2);}
.offset-3 {margin-left: calc(100% / 12 * 3);}
.offset-4 {margin-left: calc(100% / 12 * 4);}
.offset-5 {margin-left: calc(100% / 12 * 5);}
.offset-6 {margin-left: calc(100% / 12 * 6);}
.offset-7 {margin-left: calc(100% / 12 * 7);}
.offset-8 {margin-left: calc(100% / 12 * 8);}
.offset-9 {margin-left: calc(100% / 12 * 9);}
.offset-10 {margin-left: calc(100% / 12 * 10);}
.offset-11 {margin-left: calc(100% / 12 * 11);}

@media only screen and (max-width: 1024px) {
    .m-col-0 {display: none;}
    .m-col-1 {width: calc(100% / 12);}
    .m-col-2 {width: calc(100% / 12  * 2);}
    .m-col-3 {width: calc(100% / 12  * 3);}
    .m-col-4 {width: calc(100% / 12  * 4);}
    .m-col-5 {width: calc(100% / 12  * 5);}
    .m-col-6 {width: calc(100% / 12  * 6);}
    .m-col-7 {width: calc(100% / 12  * 7);}
    .m-col-8 {width: calc(100% / 12  * 8);}
    .m-col-9 {width: calc(100% / 12  * 9);}
    .m-col-10 {width: calc(100% / 12  * 10);}
    .m-col-11 {width: calc(100% / 12  * 11);}
    .m-col-12 {width: 100%;}

    .m-offset-0 {margin-left: 0;}
    .m-offset-1 {margin-left: calc(100% / 12);}
    .m-offset-2 {margin-left: calc(100% / 12 * 2);}
    .m-offset-3 {margin-left: calc(100% / 12 * 3);}
    .m-offset-4 {margin-left: calc(100% / 12 * 4);}
    .m-offset-5 {margin-left: calc(100% / 12 * 5);}
    .m-offset-6 {margin-left: calc(100% / 12 * 6);}
    .m-offset-7 {margin-left: calc(100% / 12 * 7);}
    .m-offset-8 {margin-left: calc(100% / 12 * 8);}
    .m-offset-9 {margin-left: calc(100% / 12 * 9);}
    .m-offset-10 {margin-left: calc(100% / 12 * 10);}
    .m-offset-11 {margin-left: calc(100% / 12 * 11);}
}

@media only screen and (max-width: 1023px) {
    .s-col-0 {display: none;}
    .s-col-1 {width: calc(100% / 12);}
    .s-col-2 {width: calc(100% / 12  * 2);}
    .s-col-3 {width: calc(100% / 12  * 3);}
    .s-col-4 {width: calc(100% / 12  * 4);}
    .s-col-5 {width: calc(100% / 12  * 5);}
    .s-col-6 {width: calc(100% / 12  * 6);}
    .s-col-7 {width: calc(100% / 12  * 7);}
    .s-col-8 {width: calc(100% / 12  * 8);}
    .s-col-9 {width: calc(100% / 12  * 9);}
    .s-col-10 {width: calc(100% / 12  * 10);}
    .s-col-11 {width: calc(100% / 12  * 11);}
    .s-col-12 {width: 100%;}

    .s-offset-0 {margin-left: 0;}
    .s-offset-1 {margin-left: calc(100% / 12);}
    .s-offset-2 {margin-left: calc(100% / 12 * 2);}
    .s-offset-3 {margin-left: calc(100% / 12 * 3);}
    .s-offset-4 {margin-left: calc(100% / 12 * 4);}
    .s-offset-5 {margin-left: calc(100% / 12 * 5);}
    .s-offset-6 {margin-left: calc(100% / 12 * 6);}
    .s-offset-7 {margin-left: calc(100% / 12 * 7);}
    .s-offset-8 {margin-left: calc(100% / 12 * 8);}
    .s-offset-9 {margin-left: calc(100% / 12 * 9);}
    .s-offset-10 {margin-left: calc(100% / 12 * 10);}
    .s-offset-11 {margin-left: calc(100% / 12 * 11);}
}

@media only screen and (max-width: 767px) {
    .xs-col-0 {display: none;}
    .xs-col-1 {width: calc(100% / 12);}
    .xs-col-2 {width: calc(100% / 12  * 2);}
    .xs-col-3 {width: calc(100% / 12  * 3);}
    .xs-col-4 {width: calc(100% / 12  * 4);}
    .xs-col-5 {width: calc(100% / 12  * 5);}
    .xs-col-6 {width: calc(100% / 12  * 6);}
    .xs-col-7 {width: calc(100% / 12  * 7);}
    .xs-col-8 {width: calc(100% / 12  * 8);}
    .xs-col-9 {width: calc(100% / 12  * 9);}
    .xs-col-10 {width: calc(100% / 12  * 10);}
    .xs-col-11 {width: calc(100% / 12  * 11);}
    .xs-col-12 {width: 100%;}

    .xs-offset-0 {margin-left: 0;}
    .xs-offset-1 {margin-left: calc(100% / 12);}
    .xs-offset-2 {margin-left: calc(100% / 12 * 2);}
    .xs-offset-3 {margin-left: calc(100% / 12 * 3);}
    .xs-offset-4 {margin-left: calc(100% / 12 * 4);}
    .xs-offset-5 {margin-left: calc(100% / 12 * 5);}
    .xs-offset-6 {margin-left: calc(100% / 12 * 6);}
    .xs-offset-7 {margin-left: calc(100% / 12 * 7);}
    .xs-offset-8 {margin-left: calc(100% / 12 * 8);}
    .xs-offset-9 {margin-left: calc(100% / 12 * 9);}
    .xs-offset-10 {margin-left: calc(100% / 12 * 10);}
    .xs-offset-11 {margin-left: calc(100% / 12 * 11);}
}

#get-grid{position: fixed; left: 0; top: 0; height: 100vh; width: 100%; z-index: 9999; pointer-events: none;}
#get-grid > div {margin: 0 ($largeurCol / 2); position: relative; width: calc(100% - $largeurCol);}
#get-grid > div > span {position: absolute; left: 0; top: 0; height: 100vh; width: 100vw; background: rgba(239, 164, 84, 0.51); display: block;}