@import 'the-color';

// Colors
$color-variations: (
    noir: #000000,
    blanc: #ffffff,

    content: (
        texte: #333333
    ),

    social: (
        /**
         * Brand colors
         *
         * @see https://brandcolors.net/
         */
        defaut: #9f9f9f,
        facebook: #3b5998,
        twitter: #1da1f2,
        google-plus: #dd4b39,
        linkedin: #0077b5,
        vimeo: #1ab7ea,
        youtube: #cd201f,
        instagram: unquote('radial-gradient(circle at 30% 100%, #fed276, rgba(253, 189, 97, 0.5) 9%, #f6804d 20%, rgba(232, 61, 92, 0)), linear-gradient(166deg, #4e60d3, #913baf 14%, #d52d88 76%, #f26d4f)')
    )
);

$largeurCol: 20px;

// Sizes


// Fonts